<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smallEnemy_knight</key>
	<dict>
		<key>tags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>hero</string>
		</array>
		<key>animationMovePlist</key>
		<string>smallEnemyMove.plist</string>
		<key>animationMoveDelay</key>
		<integer>0</integer>
		<key>animationAttackPlist</key>
		<string>smallEnemyAttack.plist</string>
		<key>animationAttackDelay</key>
		<real>0.2</real>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>30</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>5</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>spriteScale</key>
		<integer>2</integer>
		<key>lifeBarWidth</key>
		<integer>20</integer>
		<key>lifeBarHeight</key>
		<integer>5</integer>
		<key>lifeBarMarginHead</key>
		<integer>3</integer>
	</dict>
	<key>smallEnemy_stoneMan</key>
	<dict>
		<key>tags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>hero</string>
		</array>
		<key>width</key>
		<integer>28</integer>
		<key>animationMovePlist</key>
		<string>smallEnemy_stoneMan.plist</string>
		<key>animationMoveDelay</key>
		<integer>0</integer>
		<key>animationAttackPlist</key>
		<string>smallEnemy_stoneManAttack.plist</string>
		<key>animationAttackDelay</key>
		<real>0.2</real>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>5</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<dict>
			<key>value</key>
			<real>2.5</real>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>60</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>spriteScale</key>
		<integer>2</integer>
		<key>lifeBarWidth</key>
		<integer>20</integer>
		<key>lifeBarHeight</key>
		<integer>5</integer>
		<key>lifeBarMarginHead</key>
		<integer>3</integer>
	</dict>
	<key>smallEnemy_mouse</key>
	<dict>
		<key>tags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>hero</string>
		</array>
		<key>animationMovePlist</key>
		<string>smallEnemy_mouse.plist</string>
		<key>animationMoveDelay</key>
		<integer>0</integer>
		<key>animationAttackPlist</key>
		<string>smallEnemy_mouseAttack.plist</string>
		<key>animationAttackDelay</key>
		<real>0.1</real>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>20</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>spriteScale</key>
		<integer>1</integer>
		<key>lifeBarWidth</key>
		<integer>20</integer>
		<key>lifeBarHeight</key>
		<integer>5</integer>
		<key>lifeBarMarginHead</key>
		<integer>3</integer>
	</dict>
	<key>boss_01</key>
	<dict>
		<key>tags</key>
		<array>
			<string>none</string>
		</array>
		<key>sightRange</key>
		<string>50,5</string>
		<key>attackRange</key>
		<string>50,5</string>
		<key>tileSpriteName</key>
		<string>mage001_stand.png</string>
		<key>standSpriteName</key>
		<string>mage001_stand.png</string>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>damage - 2</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>damage - 3</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>damage - 4</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>damage - 5</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<integer>2</integer>
		<key>moveSpeed</key>
		<integer>14</integer>
		<key>maxEnergy</key>
		<integer>40</integer>
		<key>maxHP</key>
		<integer>50</integer>
		<key>skill_0</key>
		<string>skill_iceBall</string>
		<key>skill_1</key>
		<string>skill_fireBall</string>
	</dict>
	<key>hero_mage</key>
	<dict>
		<key>tags</key>
		<array>
			<string>hero</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>attackRadius</key>
		<integer>50</integer>
		<key>tileSpriteName</key>
		<string>mage001_stand.png</string>
		<key>standSpriteName</key>
		<string>mage001_stand.png</string>
		<key>skill_0</key>
		<string>skill_fireBall</string>
		<key>skill_1</key>
		<string>skill_bigFireBall</string>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>14</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxEnergy</key>
		<dict>
			<key>value</key>
			<integer>40</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>50</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>hero_hunter</key>
	<dict>
		<key>tags</key>
		<array>
			<string>hero</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>skill_0</key>
		<string>skill_fireBall</string>
		<key>skill_1</key>
		<string>skill_iceBall</string>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>14</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxEnergy</key>
		<dict>
			<key>value</key>
			<integer>40</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>50</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>sightRadius</key>
		<integer>100</integer>
		<key>attackRadius</key>
		<integer>100</integer>
		<key>tileSpriteName</key>
		<string>hunter001_stand.png</string>
		<key>standSpriteName</key>
		<string>hunter001_stand.png</string>
	</dict>
	<key>hero_warrior</key>
	<dict>
		<key>tags</key>
		<array>
			<string>hero</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>skill_0</key>
		<string>skill_physicalAttack</string>
		<key>skill_1</key>
		<string>skill_fury</string>
		<key>damage</key>
		<dict>
			<key>value</key>
			<integer>1</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>attackCD</key>
		<dict>
			<key>value</key>
			<integer>2</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>18</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxEnergy</key>
		<dict>
			<key>value</key>
			<integer>10</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>150</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
		<key>sightRadius</key>
		<integer>250</integer>
		<key>attackRadius</key>
		<integer>30</integer>
		<key>tileSpriteName</key>
		<string>warrior001_stand.png</string>
		<key>standSpriteName</key>
		<string>warrior001_stand.png</string>
	</dict>
	<key>item_hp</key>
	<dict>
		<key>tileSpriteName</key>
		<string>block_7.png</string>
	</dict>
	<key>item_money</key>
	<dict>
		<key>tileSpriteName</key>
		<string>block_4.png</string>
	</dict>
	<key>skill_physicalAttack</key>
	<dict>
		<key>tileSpriteName</key>
		<string>skill_iceBall.png</string>
		<key>attackRadius</key>
		<integer>100</integer>
	</dict>
	<key>skill_iceBall</key>
	<dict>
		<key>tileSpriteName</key>
		<string>skill_iceBall.png</string>
		<key>attackRadius</key>
		<integer>30</integer>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>250</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>skill_bigFireBall</key>
	<dict>
		<key>tileSpriteName</key>
		<string>skill_bigFireBall.png</string>
		<key>attackRadius</key>
		<integer>100</integer>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>250</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>skill_fireBall</key>
	<dict>
		<key>tileSpriteName</key>
		<string>skill_fireBall.png</string>
		<key>attackRadius</key>
		<integer>20</integer>
		<key>sightRadius</key>
		<integer>50</integer>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>250</integer>
			<key>n</key>
			<integer>0</integer>
			<key>p</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>skill_fury</key>
	<dict>
		<key>tileSpriteName</key>
		<string>skill_fireBall.png</string>
		<key>attackRadius</key>
		<integer>20</integer>
		<key>sightRadius</key>
		<integer>50</integer>
	</dict>
	<key>buff_fury</key>
	<dict>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<integer>0</integer>
			<key>n</key>
			<real>1</real>
			<key>p</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
