<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>20</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>3</integer>
				<key>interval</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>5</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>6</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>7</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>8</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>9</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>10</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>11</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>12</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>13</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>14</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>15</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>16</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>17</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>18</key>
	<dict>
		<key>troopsOrder</key>
		<array>
			<dict>
				<key>name</key>
				<string>smallEnemy_knight</string>
				<key>mount</key>
				<integer>4</integer>
				<key>interval</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_mouse</string>
				<key>mount</key>
				<integer>5</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>smallEnemy_stoneMan</string>
				<key>mount</key>
				<integer>1</integer>
				<key>interval</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
