<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>frame_000.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,144}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{125,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_001.gif</key>
		<dict>
			<key>frame</key>
			<string>{{129,2},{127,144}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{127,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_002.gif</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{131,144}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{131,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_003.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{129,146}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{129,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_004.gif</key>
		<dict>
			<key>frame</key>
			<string>{{133,148},{127,142}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{127,142}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_005.gif</key>
		<dict>
			<key>frame</key>
			<string>{{262,148},{125,140}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{125,140}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_006.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{127,144}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{127,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_007.gif</key>
		<dict>
			<key>frame</key>
			<string>{{131,296},{125,146}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{125,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_008.gif</key>
		<dict>
			<key>frame</key>
			<string>{{258,296},{125,150}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{125,150}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_009.gif</key>
		<dict>
			<key>frame</key>
			<string>{{385,296},{123,150}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{123,150}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_010.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,448},{119,148}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{119,148}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_011.gif</key>
		<dict>
			<key>frame</key>
			<string>{{123,448},{113,146}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{113,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_012.gif</key>
		<dict>
			<key>frame</key>
			<string>{{238,448},{109,146}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{109,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_013.gif</key>
		<dict>
			<key>frame</key>
			<string>{{349,448},{115,146}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{115,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_014.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,598},{121,144}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{121,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_015.gif</key>
		<dict>
			<key>frame</key>
			<string>{{125,598},{125,144}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{125,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_016.gif</key>
		<dict>
			<key>frame</key>
			<string>{{252,598},{125,144}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{125,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_017.gif</key>
		<dict>
			<key>frame</key>
			<string>{{379,598},{127,144}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{127,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_018.gif</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{131,144}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{131,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_019.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{129,146}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{129,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_020.gif</key>
		<dict>
			<key>frame</key>
			<string>{{133,148},{127,142}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{127,142}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_021.gif</key>
		<dict>
			<key>frame</key>
			<string>{{262,148},{125,140}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{125,140}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_022.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{127,144}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{127,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_023.gif</key>
		<dict>
			<key>frame</key>
			<string>{{131,296},{125,146}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{125,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_024.gif</key>
		<dict>
			<key>frame</key>
			<string>{{258,296},{125,150}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{125,150}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_025.gif</key>
		<dict>
			<key>frame</key>
			<string>{{385,296},{123,150}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{123,150}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_026.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,448},{119,148}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{119,148}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_027.gif</key>
		<dict>
			<key>frame</key>
			<string>{{123,448},{113,146}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{113,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_028.gif</key>
		<dict>
			<key>frame</key>
			<string>{{238,448},{109,146}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{109,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_029.gif</key>
		<dict>
			<key>frame</key>
			<string>{{349,448},{115,146}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{115,146}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_030.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,598},{121,144}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{121,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
		<key>frame_031.gif</key>
		<dict>
			<key>frame</key>
			<string>{{2,744},{125,144}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{125,144}}</string>
			<key>sourceSize</key>
			<string>{133,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>person001.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9ab5177dc4fe6ade9c4ecb8e2cfc95d5:1/1$</string>
		<key>textureFileName</key>
		<string>person01.png</string>
	</dict>
</dict>
</plist>
