<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image11074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11076.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{23,16}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11078.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{23,16}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11080.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,20},{23,16}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{23,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11084.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,38},{23,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{23,16}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11088.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,56},{23,16}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{23,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11092.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,74},{23,16}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{23,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallEnemy_mouseAttack.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eec65871e7bf5176a2050218a62f9c4:1/1$</string>
            <key>textureFileName</key>
            <string>smallEnemy_mouseAttack.png</string>
        </dict>
    </dict>
</plist>
