<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image2669.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2671.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{21,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2673.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{21,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2675.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{21,29}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2677.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,27}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{21,27}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallEnemyMove.png</string>
            <key>size</key>
            <string>{32,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4736c29703fd45354135a1dbaebb8ce:a00d6a716897cf64d40ae990f56a4d99:8617eda52dfa7664584984156d7e03f1$</string>
            <key>textureFileName</key>
            <string>smallEnemyMove.png</string>
        </dict>
    </dict>
</plist>
