<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image11038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11040.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{23,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{21,20}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11044.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,24},{23,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{21,18}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11048.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,46},{21,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{21,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{21,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{21,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>image11052.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,66},{19,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{19,16}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallEnemy_mouse.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9743433695bd39ea46df8dd64f33c0a3:1/1$</string>
            <key>textureFileName</key>
            <string>smallEnemy_mouse.png</string>
        </dict>
    </dict>
</plist>
