<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image2679.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2681.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2683.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2685.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,35},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2687.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2689.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,68},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2691.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2693.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,101},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2695.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2697.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,134},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2699.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2701.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,167},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
            <key>image2703.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{43,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,31}}</string>
                <key>sourceSize</key>
                <string>{43,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallEnemyAttack.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab062005715d106f8b0ad2140bf2af0:4186c959c1c50076186ac4395288456d:07dda65aa638b92a9968eec529a123b1$</string>
            <key>textureFileName</key>
            <string>smallEnemyAttack.png</string>
        </dict>
    </dict>
</plist>
