<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1771.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1773.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1775.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1777.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1779.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1781.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,59},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1783.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,59},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1785.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,59},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>image1788.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1790.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,116},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1792.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,116},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1794.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,116},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1796.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1798.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,179},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1800.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,179},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>image1802.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,179},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>windmill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aed2e3cccdb4eba2ff850243fd739fc2:a232b18ffe69ae2efa96771d66fd9383:fd346c28ffa3e529dafa50057f2b8a04$</string>
            <key>textureFileName</key>
            <string>windmill.png</string>
        </dict>
    </dict>
</plist>
