<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>animationAttackDelay</key>
		<real>0.2</real>
		<key>animationAttackPlist</key>
		<string>smallEnemyAttack.plist</string>
		<key>animationMoveDelay</key>
		<integer>0</integer>
		<key>animationMovePlist</key>
		<string>smallEnemyMove.plist</string>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<real>1.2</real>
		</dict>
		<key>cnName</key>
		<string>骑士</string>
		<key>lifeBarHeight</key>
		<integer>5</integer>
		<key>lifeBarMarginHead</key>
		<integer>3</integer>
		<key>lifeBarWidth</key>
		<integer>20</integer>
		<key>magicAttack</key>
		<string>skill_physicalAttack</string>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>80</integer>
		</dict>
		<key>name</key>
		<string>smallEnemy_knight</string>
		<key>normalAttack</key>
		<string>skill_physicalAttack</string>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>skills</key>
		<array>
			<dict>
				<key>damage</key>
				<dict>
					<key>physicalDamage</key>
					<integer>3</integer>
				</dict>
				<key>name</key>
				<string>skill_physicalAttack</string>
			</dict>
		</array>
		<key>spriteScale</key>
		<integer>2</integer>
		<key>tags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>hero</string>
		</array>
	</dict>
	<dict>
		<key>animationAttackDelay</key>
		<real>0.2</real>
		<key>animationAttackPlist</key>
		<string>smallEnemy_mouseAttack.plist</string>
		<key>animationMoveDelay</key>
		<integer>0</integer>
		<key>animationMovePlist</key>
		<string>smallEnemy_mouse.plist</string>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<real>1.2</real>
		</dict>
		<key>cnName</key>
		<string>骑士</string>
		<key>lifeBarHeight</key>
		<integer>5</integer>
		<key>lifeBarMarginHead</key>
		<integer>3</integer>
		<key>lifeBarWidth</key>
		<integer>20</integer>
		<key>magicAttack</key>
		<string>skill_physicalAttack</string>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<key>name</key>
		<string>smallEnemy_mouse</string>
		<key>normalAttack</key>
		<string>skill_physicalAttack</string>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>skills</key>
		<array>
			<dict>
				<key>damage</key>
				<dict>
					<key>physicalDamage</key>
					<integer>5</integer>
				</dict>
				<key>name</key>
				<string>skill_physicalAttack</string>
			</dict>
		</array>
		<key>spriteScale</key>
		<integer>2</integer>
		<key>tags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>hero</string>
		</array>
	</dict>
	<dict>
		<key>animationAttackDelay</key>
		<real>0.2</real>
		<key>animationAttackPlist</key>
		<string>smallEnemy_stoneManAttack.plist</string>
		<key>animationMoveDelay</key>
		<integer>0</integer>
		<key>animationMovePlist</key>
		<string>smallEnemy_stoneMan.plist</string>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<real>1.2</real>
		</dict>
		<key>cnName</key>
		<string>骑士</string>
		<key>lifeBarHeight</key>
		<integer>5</integer>
		<key>lifeBarMarginHead</key>
		<integer>3</integer>
		<key>lifeBarWidth</key>
		<integer>20</integer>
		<key>magicAttack</key>
		<string>skill_physicalAttack</string>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<key>name</key>
		<string>smallEnemy_stoneMan</string>
		<key>normalAttack</key>
		<string>skill_physicalAttack</string>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>skills</key>
		<array>
			<dict>
				<key>damage</key>
				<dict>
					<key>physicalDamage</key>
					<integer>5</integer>
				</dict>
				<key>name</key>
				<string>skill_physicalAttack</string>
			</dict>
		</array>
		<key>spriteScale</key>
		<integer>2</integer>
		<key>tags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>hero</string>
		</array>
	</dict>
</array>
</plist>
