<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<real>1.2</real>
		</dict>
		<key>cnName</key>
		<string>法师</string>
		<key>magicAttack</key>
		<string>skill_iceBall</string>
		<key>maxEnergy</key>
		<dict>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>50</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>100</integer>
		</dict>
		<key>name</key>
		<string>hero_mage</string>
		<key>normalAttack</key>
		<string>skill_iceBall</string>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>skills</key>
		<array>
			<dict>
				<key>damage</key>
				<dict>
					<key>magicalDamage</key>
					<integer>30</integer>
				</dict>
				<key>name</key>
				<string>skill_iceBall</string>
			</dict>
		</array>
		<key>standSpriteName</key>
		<string>mage001_stand.png</string>
		<key>tags</key>
		<array>
			<string>hero</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>tileSpriteName</key>
		<string>mage001_stand.png</string>
	</dict>
	<dict>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<real>1.2</real>
		</dict>
		<key>cnName</key>
		<string>弓箭手</string>
		<key>magicAttack</key>
		<string>skill_iceBall</string>
		<key>maxEnergy</key>
		<dict>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>50</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>100</integer>
		</dict>
		<key>name</key>
		<string>hero_hunter</string>
		<key>normalAttack</key>
		<string>skill_iceBall</string>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>skills</key>
		<array>
			<dict>
				<key>damage</key>
				<dict>
					<key>magicalDamage</key>
					<integer>30</integer>
				</dict>
				<key>name</key>
				<string>skill_iceBall</string>
			</dict>
		</array>
		<key>standSpriteName</key>
		<string>hunter001_stand.png</string>
		<key>tags</key>
		<array>
			<string>hero</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>tileSpriteName</key>
		<string>hunter001_stand.png</string>
	</dict>
	<dict>
		<key>attackRadius</key>
		<integer>100</integer>
		<key>attackRate</key>
		<dict>
			<key>value</key>
			<real>1.2</real>
		</dict>
		<key>cnName</key>
		<string>战士</string>
		<key>magicAttack</key>
		<string>skill_iceBall</string>
		<key>maxEnergy</key>
		<dict>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<key>maxHP</key>
		<dict>
			<key>value</key>
			<integer>1000</integer>
		</dict>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>100</integer>
		</dict>
		<key>name</key>
		<string>hero_warrior</string>
		<key>normalAttack</key>
		<string>skill_iceBall</string>
		<key>sightRadius</key>
		<integer>10</integer>
		<key>skills</key>
		<array>
			<dict>
				<key>damage</key>
				<dict>
					<key>physicalDamage</key>
					<integer>1</integer>
				</dict>
				<key>name</key>
				<string>skill_physicalAttack</string>
			</dict>
			<dict>
				<key>damage</key>
				<dict>
					<key>magicalDamage</key>
					<integer>30</integer>
				</dict>
				<key>name</key>
				<string>skill_iceBall</string>
			</dict>
		</array>
		<key>standSpriteName</key>
		<string>warrior001_stand.png</string>
		<key>tags</key>
		<array>
			<string>hero</string>
		</array>
		<key>targetTags</key>
		<array>
			<string>enemy</string>
		</array>
		<key>tileSpriteName</key>
		<string>warrior001_stand.png</string>
	</dict>
</array>
</plist>
