<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cnName</key>
		<string>钱</string>
		<key>name</key>
		<string>item_money</string>
		<key>tileSpriteName</key>
		<string>block_4.png</string>
	</dict>
	<dict>
		<key>cnName</key>
		<string>钱</string>
		<key>name</key>
		<string>item_hp</string>
		<key>tileSpriteName</key>
		<string>block_7.png</string>
	</dict>
</array>
</plist>
