<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attackRadius</key>
		<integer>20</integer>
		<key>behaviors</key>
		<array>
			<dict>
				<key>type</key>
				<string>LinearMoveToPosition</string>
			</dict>
			<dict>
				<key>maxHit</key>
				<integer>1</integer>
				<key>type</key>
				<string>InstantRangeAttack</string>
			</dict>
			<dict>
				<key>buffName</key>
				<string>ice</string>
				<key>type</key>
				<string>Buff</string>
			</dict>
			<dict>
				<key>type</key>
				<string>DieWhen</string>
				<key>when</key>
				<string>hit</string>
			</dict>
		</array>
		<key>cnName</key>
		<string>减速冰弹</string>
		<key>moveSpeed</key>
		<dict>
			<key>value</key>
			<integer>150</integer>
		</dict>
		<key>name</key>
		<string>skill_iceBall</string>
		<key>tileSpriteName</key>
		<string>skill_iceBall.png</string>
	</dict>
	<dict>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>behaviors</key>
		<array>
			<dict>
				<key>type</key>
				<string>LinearMoveToPosition</string>
			</dict>
			<dict>
				<key>type</key>
				<string>ContinualAttack</string>
			</dict>
			<dict>
				<key>buffType</key>
				<string>ice</string>
				<key>type</key>
				<string>Buff</string>
			</dict>
			<dict>
				<key>type</key>
				<string>DieWhen</string>
				<key>when</key>
				<string>position_arrive</string>
			</dict>
		</array>
		<key>cnName</key>
		<string>火流星</string>
		<key>name</key>
		<string>skill_bigFireBall</string>
		<key>tileSpriteName</key>
		<string>skill_bigFireBall.png</string>
	</dict>
	<dict>
		<key>attackRadius</key>
		<integer>10</integer>
		<key>behaviors</key>
		<array>
			<dict>
				<key>type</key>
				<string>LinearMoveToPosition</string>
			</dict>
			<dict>
				<key>maxHit</key>
				<integer>1</integer>
				<key>type</key>
				<string>InstantRangeAttack</string>
			</dict>
			<dict>
				<key>type</key>
				<string>DieWhen</string>
				<key>when</key>
				<string>hit</string>
			</dict>
		</array>
		<key>cnName</key>
		<string>狙击弓箭</string>
		<key>name</key>
		<string>skill_arrow</string>
	</dict>
</array>
</plist>
