<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>behaviors</key>
		<array>
			<dict>
				<key>name</key>
				<string>LinearMoveToPosition</string>
			</dict>
			<dict>
				<key>maxHit</key>
				<integer>1</integer>
				<key>name</key>
				<string>InstantRangeAttack</string>
			</dict>
			<dict>
				<key>buffName</key>
				<string>ice</string>
				<key>name</key>
				<string>Buff</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DieWhen</string>
				<key>when</key>
				<string>hit</string>
			</dict>
		</array>
		<key>cnName</key>
		<string>减速冰弹</string>
		<key>name</key>
		<string>iceBall</string>
	</dict>
	<dict>
		<key>behaviors</key>
		<array>
			<dict>
				<key>name</key>
				<string>LinearMoveToPosition</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ContinualAttack</string>
			</dict>
			<dict>
				<key>buffName</key>
				<string>ice</string>
				<key>name</key>
				<string>Buff</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DieWhen</string>
				<key>when</key>
				<string>position    arrive</string>
			</dict>
		</array>
		<key>cnName</key>
		<string>火流星</string>
		<key>name</key>
		<string>bigFireBall</string>
	</dict>
	<dict>
		<key>behaviors</key>
		<array>
			<dict>
				<key>name</key>
				<string>LinearMoveToPosition</string>
			</dict>
			<dict>
				<key>maxHit</key>
				<integer>1</integer>
				<key>name</key>
				<string>InstantRangeAttack</string>
			</dict>
			<dict>
				<key>name</key>
				<string>DieWhen</string>
				<key>when</key>
				<string>hit</string>
			</dict>
		</array>
		<key>cnName</key>
		<string>狙击弓箭</string>
		<key>name</key>
		<string>arrow</string>
	</dict>
</array>
</plist>
