<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image1845.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1847.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1849.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1851.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1853.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1855.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,74},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1857.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,74},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1859.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
            <key>image1861.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,70}}</string>
                <key>sourceSize</key>
                <string>{36,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flag.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4d13802d95881cb7bde20d93d1bc4b0:b54e421bd0a5c7e642a3091e120efc7f:ebe518155f0ca8f31e3519111bc032ff$</string>
            <key>textureFileName</key>
            <string>flag.png</string>
        </dict>
    </dict>
</plist>
