<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>person03_000.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{94,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_001.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{96,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_002.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{98,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{98,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_003.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,87},{100,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_004.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_005.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_006.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{94,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{94,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_007.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,255},{92,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{92,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_008.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{94,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_009.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,342},{96,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_010.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{98,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{98,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_011.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,87},{100,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_012.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_013.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_014.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{94,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{94,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_015.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,255},{92,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{92,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_016.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{94,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_017.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{96,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_018.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{98,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{98,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_019.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,87},{100,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_020.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_021.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_022.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{94,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{94,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_023.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,255},{92,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{92,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_024.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{94,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_025.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{96,83}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{96,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_026.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{98,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{98,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_027.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,87},{100,81}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{100,81}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_028.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_029.gif</key>
            <dict>
                <key>frame</key>
                <string>{{102,170},{98,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,83}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_030.gif</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{94,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{94,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
            <key>person03_031.gif</key>
            <dict>
                <key>frame</key>
                <string>{{98,255},{92,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{92,85}}</string>
                <key>sourceSize</key>
                <string>{114,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person003.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac614d45fed2be29710d3a5e375eadf:1/1$</string>
            <key>textureFileName</key>
            <string>person003.png</string>
        </dict>
    </dict>
</plist>
