<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image10867.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10869.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10871.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{50,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10873.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{48,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10875.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{46,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10877.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,52},{46,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10879.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,52},{44,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{44,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10881.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,52},{44,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{44,44}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10883.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,52},{44,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{44,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10885.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{46,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{46,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10887.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,102},{48,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10889.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,102},{48,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10891.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,102},{50,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10893.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{52,46}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10895.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{52,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10897.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,152},{54,44}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{54,44}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallEnemy_stoneMan.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c95ecd06042248ccb54c89a5a2452a2:1/1$</string>
            <key>textureFileName</key>
            <string>smallEnemy_stoneMan.png</string>
        </dict>
    </dict>
</plist>
