<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image10949.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,44}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10951.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{48,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10953.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{48,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10955.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{46,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10957.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{44,52}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,52}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10959.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{42,54}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,54}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10961.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,56},{46,54}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{46,54}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10963.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,56},{48,54}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,54}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10965.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,56},{52,38}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{52,38}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10967.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,56},{54,32}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{54,32}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10969.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{56,36}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,23},{56,36}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10971.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,112},{56,34}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,25},{56,34}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10973.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{44,40}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{44,40}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10975.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,112},{44,40}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{44,40}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10977.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,112},{50,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,44}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10979.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{50,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,44}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
            <key>image10981.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,158},{50,46}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{50,46}}</string>
                <key>sourceSize</key>
                <string>{72,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallEnemy_stoneManAttack.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd140918ceccf9248b2ef63b99ab4cea:1/1$</string>
            <key>textureFileName</key>
            <string>smallEnemy_stoneManAttack.png</string>
        </dict>
    </dict>
</plist>
